*{
  box-sizing: box-border;

}
body{
  background-color: #c1ab52ce;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
  color: rgb(78, 0, 0);

}

.topnav {
  overflow:hidden;
  background-color: #606da7;
  padding: 0.5 px;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 10px;
  font-size: 1.2 rem;
  text-decoration: none;
  text-transform: uppercase;
}

.topnav .search-container {
  float: right;
}


form{
  background-color: black; 
  width: 300px; 
  padding: 5px;
  border-radius: 5px;
  height: 30px;
  display: flex;
  align-items: center;
}


input{
  all: unset;
  color: white;
  width: 100%;
  height: 100%; 
  padding: 6px 9px; 
  
}



.coulumn{
  float: left;
  width: 25%;
  padding: 10px 10px;
}


.card {
  border-radius: 19px;
  padding: 15px;
  text-align: center;
  background-color: #f1f1f1;
  width: 220px;
  display: inline-block;
}

.thumbnail {
  width: 100%;
  border-radius: 12px;
}
